body {
    display: block;
    margin: 0px;
}
header{
    display: block;
    background-color: #218380;
    padding: 23px;
    color: #fff;
}
header #timer{
    float: right;
}
main{
    padding: 11rem;
}

main #quiz-start,#box{
    background-color: #fff;
  border: 1px solid #ccc;
  padding: 33px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);

}
@media only screen and (max-width: 600px) {
    main{
        padding: 6rem;
    }
  }

 .start-quiz {
    background-color: #218380;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 0px;
  }

  .options{
    background-color: #218380;
    color: #fff;
    width: 100%;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    text-align-last: left;
    font-size: 18px;
    cursor: pointer;
  }

  #quiz-questions{
    font-size: 19px;
  }

  #result{
    font-size: 19px;
    color: green;
    text-align: -webkit-center;
    font-weight: 600;
  }


  #name{
    height: 28px;
    border-radius: 5px;
  }

  